@import 'variables';
@import 'mixins';
header{
    height:70px;
    width:100vw;
    position:fixed;
    background:#01042e;
    .container-fluid{
       padding:0px 45px;
       position:relative;
       @include flexbox;
       @include align-items(center);
       .logo{
        @include flexbox;
        @include align-items(center);
            img{
                max-height:70px;
                margin-right:15px;
            }
            h2{
                font-size:18px;
                display:inline-block;
                color:$white;
                margin:0px;
                font-weight:bold;
                text-align:left;
            }
        }
       nav{
        position: absolute;
        right: 45px;
        @include flexbox;
        @include align-items(center);
        a{
            font-family: 'Muli', sans-serif;
            color:$white;
            font-size:16px;
            margin:0px 15px;
            &:hover{
                text-decoration:none;
            }
            &.getStarted{
                background-color:$getstarted;
                padding: 15px 30px;
                border-radius: 30px;
                &:hover{
                    background-color:$getstartedhover;
                    text-decoration: none;
                }
            }
        }
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            margin-left:15px;
          }
          
          .switch input { 
            opacity: 0;
            width: 0;
            height: 0;
          }
          
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #464875;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          .slider:before {
            position: absolute;
            content: url(../images/moon.png);
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            //background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          input:checked + .slider {
            background-color: #2196F3;
          }
          
          input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
          }
          
          input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
          
          /* Rounded sliders */
          .slider.round {
            border-radius: 34px;
          }
          
          .slider.round:before {
            border-radius: 50%;
          }
     }
    }
  
}